<footer>
    <nav>
      <a href="https://webpages.charlotte.edu/pbikusa/">CLT Web</a> |
      <a href="https://github.com/ittspb123">GitHub</a> |
      <a href="https://ittspb123.github.io/">GitHub.io</a> |
      <a href="https://www.freecodecamp.org/ittsprecious">freeCodeCamp</a> |
      <a href="https://www.codecademy.com/profiles/its.PreciousB">Codecademy</a> |
      <a href="https://www.linkedin.com/in/pbikusa/">LinkedIn</a>
    </nav>
       <p>Designed by <a href="bikusastudio.co/">Bikusa Studio</a> &copy;2026</p>
    <p>
      <a href="https://validator.w3.org/check?uri=referer">HTML Validation</a> |
      <a href="https://jigsaw.w3.org/css-validator/check/referer">CSS Validation</a>
    </p>
  </footer>